root { 
    display: block;
}

.root {
    -fx-background-color: #dadada;
}

.label {
    -fx-font-weight: bold;
}

#actiontarget {
    -fx-fill: FIREBRICK;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );  
}

.iphone-toolbar {
    -fx-background-color: linear-gradient(#98a8bd 0%, #8195af 25%, #6d86a4 100%);
}

#glassPane {
    -fx-cursor: wait;
    -fx-background-color: rgba(204,255,153,0.3);
}

#lblResult {
    -fx-font-weight: normal;
}
